@import 'variables.less';

nav {
  background-color: @color-000;
  padding: 20px 0;
  margin-bottom: 0;
  position: relative;
  .nav-wrapper {
  
    width: 985px !important;
    max-width: 88% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  auto !important;

    .left-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;


      img {
        width: 50px;
        height: 50px;
        margin-right: 0;
      }
    }

    a {
     
    }
  }

  a {
    color: @color-6;
    transition-duration: 0.3s;
    transition-timing-function:  ease;
    
    text-decoration: none;
    font-size: 1.4em;

    &:hover {
      cursor: pointer;
      color: @color-9;
    }
  }
}

a.nav-bar-url {
  margin-left: 40px;
  padding: 0;
  font-weight: 600;
  color: @color-6;
  max-width: 600px;
}

.logo {
  border-radius: 10px;
  position: relative;
  height: 50px;
  width: 50px;
  z-index: 2;
}

@property --angle{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.logo::after, .logo::before {
  
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  // background-image: conic-gradient(from var(--angle),@color-6,@color-7,@color-8,@color-9,@color-6);
  background-image: conic-gradient(from var(--angle),@color-6,@color-7,transparent,@color-8,@color-9,transparent,@color-6);
  top: 50%;
  left:50%;
  translate: -50% -50%;
  z-index: 1;
  border-radius: 14px;
  padding:4px;
  animation-duration: 3s;
  animation-name: spin;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.logo::before {
  filter: blur(0.25rem);
  opacity: 0.5;
}

@keyframes spin{
  from {
      --angle: 0deg;
  }to{
      --angle: 360deg;
  }
}