
@import 'nav.less';

body,
html {
  font-family: @body-font;
  margin: 0;
  padding: 0;
  background: @background-color;
  height: 100%;
  color: @color-7;
  min-width: 650px;
  .container {
    width: 948px;
    max-width: 88%;
    margin: 0 auto;
    height: fit-content;
    background: @color-0;
    padding: 30px 40px;
    box-shadow: @box-shadow;
    @media (max-width: 800px) {
      width: 82%;
      margin: 0 auto 20px;
      padding: 30px 6%;
    }

    h1 {
      line-height: 1.5;
      margin: 0 0 5px;
    }

    h2 {
      
      margin-left: 16px;
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1;
    }

    a {
      color: @color-8;
      transition: @transition;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }

  .blueprint-info {
    height: fit-content;
    margin: 20px auto 0;
    width: 968px;
    max-width: 88%;
    background: @background-color;
    padding: 20px 30px;
    box-shadow: @box-shadow;
    @media (max-width: 800px) {
      width: 82%;
      margin: 0 auto;
      padding: 30px 6%;
    }


    h3 {
      margin: 0;
      font-size: 1.4em;
      font-weight: 500;
    }

    ul {
      list-style: none;
      border: 1px solid #e6e6e6;
      padding: 10px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ececec;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 1.1em;

        &:last-of-type {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        span {
          font-weight: 500;
          font-size: .9em;
        }
      }

      .attribute-value {
        font-weight: 300;
        font-size: .9em;
      }
    }
  }
}


