// Fonts
@body-font: 'Poppins', sans-serif;

// Animation
@transition: all .2s ease;

@color-000: hsl(0, 0%, 10%);
@color-00: hsl(0, 0%, 15%);
@color-0: hsl(0, 0%, 20%);
@color-1: hsl(39, 100%, 62%);
@color-2: hsl(62, 63%, 50%);
@color-3: hsl(97, 68%, 60%);
@color-4: hsl(155, 60%, 45%);
@color-5: hsl(180, 100%, 32%);
@color-6: hsl(185, 60%, 44%);
@color-7: hsl(219, 100%, 81.5%);
@color-8: hsl(358, 57%, 66%);
@color-9: hsl(353, 99%, 66%);
// Colors
@theme-color: hsl(180, 100%, 32%);
@background-color: @color-000;
@box-shadow: 0 0 5px hsla(180, 100%, 32%,20%);
@header-color: #5f6988;
@primary-color: #50bcf2;
@white:#F9F9F5;