@import 'variables.less';


.center{
  align-items: center;
  align-content: center;
  text-align: center;
}

.save-btn {
  display: inline-block;
  margin-top: 0.5em;
  width: 5em;

  padding: 0.5em;
  border: 0.1em solid @color-6;
  border-radius: 0.5rem;
  color: @color-6;
  background-color: @color-00;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
  left: 0px;
  .center;
  &:hover {

    background-color: @color-6;
    color: @white;
  }
  
}


@fusion-color: @color-9;
@xyz-color: black;

.label-selection(@color) {
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
	border: 0.1em solid @color;
	color: @color;
  background-color: @white;
	margin: 0;
	padding: 0.1em;
	border-radius: 0;
  width: 2.70em;
  height: 2.70em;
  
  
  display: flex;
  flex-direction: column;
  .center;

  input[type=checkbox]  {
    -webkit-appearance: none;
    appearance: none;
  }

  &:has(input[type=checkbox]:checked) {
    background: @color;
    color: @white;
  }

  &:has(input[type=checkbox]:not(:checked)):hover {
    background: @color;
    color: @white;
    opacity: 0.8;
  }

  &:has(input[type=checkbox]:checked):hover {
    background-color: @white;
    color: @color;
    opacity: 0.8;
  }
}

label.xyz-selection {
	.label-selection(@xyz-color)
}

label.fusion-selection {
	.label-selection(@fusion-color)
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-left: 0;
	padding: 0.2em;
  
}

.checkbox-group-label{
  display: block;
  margin: 0.5em;
	padding: 0.5em;
  
}

