
{% set description = "Web app to help playing the card Simultaneous Equation Cannons in the Game of Yu-Gi-Oh!" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Simultaneous Equation Cannons Helper | {{ title }}</title>
  <meta name="description" content="{{ description }}"/>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="theme-color" content="#87a2d5"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/icon.png') }}" type="image/x-icon"/>

  <meta property="og:site_name" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:description"  content="{{ description }}"/>
  <meta property="og:image" content="{{ url_for('static', filename='dist/img/icon.png') }}">

  <meta name="twitter:card" content="app">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ url_for('static', filename='dist/img/icon.png') }}">

  <meta name=”robots” content="index, follow">

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,800" rel="stylesheet">
  {# <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">  #}
  {% block pagestyles %}{% endblock %}
</head>

<body class="{{ template }}">
  {% block content %}{% endblock %}
  {# {% include 'analytics.jinja2' %}  #}

  <footer class="footer"><label>2025 Created by <div class="author"> Avogatro</div></label></footer>
</body>


</html>
