{% extends "layout.jinja2" %}

{% block pagestyles %}


  {% assets "sec_helper_main_style_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'">
  {% endassets %}

  {% assets "common_style_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'">
  {% endassets %}
 
{% endblock %}

{% block content %}
  {% include "navigation.jinja2" %}

  
  <div class="container">
      <h1>{{ title }}</h1>

    <h2>Usage</h2>

    <p>Use the <b class="help">Extra Deck</b> page to setup levels and ranks.</p>
    
    <div class= "grid-container">
        <div class= "grid-item">
            <p>Count the number of cards:</p>
            <ul>
            <li>in your opponent's hand</li>
            <li>on your opponent's side of the field</li>
            <li>in your hand</li>
            <li>on your side of the field</li>
            </ul>
            <p>Add those numbers together.
            This is the <b class="help">total cards</b>.</p>
        </div>
        <div class= "grid-item">
            <img class="img-help" src="{{ url_for('static', filename='dist/img/total_cards.webp') }}" alt="total-cards">
        </div>
        
        <div class= "grid-item">
            <p>The opponent has monsters on the field that are not Link monsters, with a rank/level in the data.
            This is the <b class="help">monster level to match</b>.</p>
        </div>
        <div class= "grid-item">
            <img class="img-help" src="{{ url_for('static', filename='dist/img/level_to_match.webp') }}" alt="level-to-match">
        </div>
        <div class= "grid-item">
            <p>On the main screen of this app, you can see in every row:</p>
            <ul>
            <li><b class="help">monster level to match</b></li>
            <li> followed by a list of <b class="help">total cards</b></li>
            </ul>
            <p>If SEC resolves and at that moment:</p>
            <ul>
            <li>A <b class="help">monster with level to match</b> is still on the field and</li>
            <li>the current <b class="help">total cards</b> is still on the right side of that <b class="help">monster level to match</b></li>
            </ul>
            <p>then you can banish your opponent's entire field.</p>
        </div>
        
        <div class= "grid-item grid-first" >
            <p>If you click on the <b class="help">total cards</b> button, you will see what to send and what to return.</p>
        </div>
        <div class= "grid-item">
            <img class="img-help" src="{{ url_for('static', filename='dist/img/what_to_send.webp') }}" alt="what-to-send">
        </div>
        
        <div class= "grid-item">
            <p>If you activate a second SEC, the monsters to send and to return do not have to be the same.</p>
            <p>Use the <b class="help">Banished Monsters</b> page to define the situation.</p>
        </div>
        <div class= "grid-item">
            <img class="img-help" src="{{ url_for('static', filename='dist/img/pre_banish.webp') }}" alt="pre-banish">
        </div>
    </div>
  
  </div>



{% endblock %}

